<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Welcome to The Company Website!</h1>
				<p>
					Jelly beans cake cotton candy fruitcake jujubes. Marzipan pudding
					sugar plum chocolate cake marshmallow icing chocolate bar jujubes
					brownie. Candy jelly-o jujubes liquorice donut pudding. Dragée halvah
					lollipop. Cake chocolate cake cheesecake. Muffin dragée cookie
					chocolate cake I love. Sweet gummies I love gummi bears. Chocolate
					lollipop candy jelly beans caramels icing topping biscuit. Ice cream
					sugar plum bonbon. Cookie muffin sesame snaps bear claw halvah. Oat
					cake croissant jujubes caramels cake. Cotton candy fruitcake lemon
					drops I love. Halvah tart fruitcake tootsie roll cotton candy cake I
					love cookie chupa chups. Gummi bears jelly sesame snaps.
				</p>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
